<template>
  <div class="[ counters ] grid gap-4 px-4 py-2">
    <dashboard-counter class="[ todos ]" title="Todos" :count="todos.length" />
    <dashboard-counter
      class="[ issues ]"
      title="Issues"
      :count="remainingIssues"
    />
    <div class="[ progress ] grid gap-4">
      <progress-ring
        :issue-completion="issueCompletion"
        :days-in-milestone="daysInMilestone"
        :days-passed-in-milestone="daysPassedInMilestone"
      />
      <div
        class="[ milestone ] text-center text-5xl font-mono bg-gray-900 p-4 leading-none rounded"
      >
        {{ milestone }}
      </div>
    </div>
    <dashboard-counter
      class="[ grooming ]"
      title="Grooming"
      :count="groomingIssues.length"
    />
    <dashboard-counter
      class="[ days ]"
      title="Days Remaining"
      :count="daysRemainingInMilestone"
    />
  </div>
</template>

<script>
import differenceInBusinessDays from "date-fns/differenceInBusinessDays";

import getMilestoneEndDate from "@/utils/get_milestone_end_date";
import getMilestoneStartDate from "@/utils/get_milestone_start_date";
import getTotalCompletion from "@/utils/get_total_completion";

import DashboardCounter from "@/components/dashboard_counter.vue";
import ProgressRing from "@/components/progress_ring.vue";

export default {
  components: {
    DashboardCounter,
    ProgressRing,
  },
  props: {
    issues: {
      type: Array,
      required: true,
    },
    milestone: {
      type: String,
      required: true,
    },
    todos: {
      type: Array,
      required: true,
    },
  },
  computed: {
    milestoneStartDate() {
      return getMilestoneStartDate(this.milestone);
    },
    milestoneEndDate() {
      return getMilestoneEndDate(this.milestone);
    },
    daysInMilestone() {
      return differenceInBusinessDays(
        this.milestoneEndDate,
        this.milestoneStartDate
      );
    },
    daysPassedInMilestone() {
      return differenceInBusinessDays(
        new Date(Date.now()),
        this.milestoneStartDate
      );
    },
    daysRemainingInMilestone() {
      return this.daysInMilestone - this.daysPassedInMilestone;
    },
    remainingIssues() {
      return this.issues.filter((issue) => issue.state !== "closed").length;
    },
    groomingIssues() {
      // TODO: Get the real number, this is more problematic
      // than I first thought as it needs to following formula:
      //
      // `nextMilestone.issues.filter(issuesThathaveTheGroomingLabel)`

      return [];
    },
    issueCompletion() {
      return getTotalCompletion(this.issues);
    },
  },
};
</script>

<style scoped>
.counters {
  grid-template-areas:
    "count1 progress count2"
    "count3 progress count4";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.progress {
  grid-area: progress;
}
</style>
